.nav-pills {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(91, 123, 211);
    min-height: 65px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(101, 219, 90, 0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: rgb(220, 233, 149);
    font-size: 2em;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
}

.nav-pills a {
    color: #fff;
}

.nav-pills a:hover {
    color: rgb(64, 114, 160);
    background-color: #05347a;
}
